<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!--/*/ <th:block th:include="fragment_input/head.html :: head">
        </th:block> /*/-->
</head>

<body class="mini-sidebar">
	<!-- Preloader -->
	<div class="preloader">
		<div class="cssload-speeding-wheel"></div>
	</div>
	<div id="wrapper">

		<!-- ===== Top-Navigation ===== -->
		<nav class="navbar navbar-default navbar-static-top m-b-0"
			th:replace="fragments/navbar.html :: navbar"></nav>
		<!-- ===== Top-Navigation-End ===== -->
		<!-- ===== Left-Sidebar ===== -->
		<aside class="sidebar" role="navigation"
			th:replace="fragments/sidebar.html :: sidebar"></aside>
		<!-- ===== Left-Sidebar-End ===== -->
		<!-- Page Content -->
		<div class="page-wrapper">
			<div class="container-fluid">
				<!-- .row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="white-box">
							<h3 class="box-title m-b-0">Formulir Edit Cuti</h3>
							<p class="text-muted m-b-30 font-13">Informasi cuti</p>
							<form class="form-horizontal" th:action="@{/cuti/edit/{id}(id=${cutiForm.id})}"
								th:object="${cutiForm}" method="post">
								<div class="form-group">
									<label class="col-md-12" for="Name">jumlahCutiTahunan <span
										class="help"> e.g. "10"</span></label>
									<div class="col-md-12">
										<input type="number" id="jumlahCutiTahunan" name="jumlahCutiTahunan"
											class="form-control" placeholder="10" th:attr="value=${cutiForm.jumlahCutiTahunan}"> <span
											th:class="${#fields.hasErrors('jumlahCutiTahunan')?'help-block' : ''}"
											th:if="${#fields.hasErrors('jumlahCutiTahunan')}" th:errors="*{jumlahCutiTahunan}">Error</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-12">Type</label>
									<div class="col-md-12">
										<select class="form-control select2" name="type">
											<option value="Karyawan Tetap" th:selected="${cutiForm.type=='Karyawan Tetap'}">Karyawan Tetap</option>
											<option value="Karyawan Kontrak" th:selected="${cutiForm.type=='Karyawan Kontrak'}">Karyawan Kontrak</option>
										</select> <p
											th:class="${#fields.hasErrors('type')?'help-block' : ''}"
											th:if="${#fields.hasErrors('type')}"
											th:errors="*{type}">Error</p>
									</div>
								</div>
								
								<button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
								<a th:href="@{/cuti}" class="btn btn-inverse waves-effect waves-light">Batal</a>
								
							</form>
						</div>
					</div>
				</div>
				<!-- /.row -->
				<!-- ===== Right-Sidebar ===== -->
				<div class="right-sidebar"
					th:replace="fragments/right-sidebar.html :: right-sidebar"></div>
				<!-- ===== Right-Sidebar-End ===== -->
			</div>
			<!-- /.container-fluid -->
			<footer class="footer t-a-c"
				th:replace="fragments/footer.html :: footer"> </footer>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<!--/*/ <th:block th:include="fragment_input/script.html :: script">
        </th:block> /*/-->
</body>

</html>
