<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!--/*/ <th:block th:include="fragments/head.html :: head">
        </th:block> /*/-->

<style type="text/css">
.containerpagination div #messagetable {
	padding-top: 8px;
	padding-bottom: 8px;
}

.containerpagination div ul.peritable {
	margin: 0;
	float: right;
	/* border: 1px solid black; */
}

.containerpagination {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 5px;
	/* border: 1px solid rgb(247, 247, 247); */
	overflow: hidden;
}

.no-data {
	padding: 20px;
	margin: 0 auto;
}

.spinner {
	background-color: white;
	text-align: center;
}

div.box {
	background-color: inherit;
	border: none;
	padding: 30px;
}
</style>
</head>

<body class="mini-sidebar">
	<!-- Preloader -->
	<div class="preloader">
		<div class="cssload-speeding-wheel"></div>
	</div>
	<div id="wrapper">
		<!-- ===== Top-Navigation ===== -->
		<nav class="navbar navbar-default navbar-static-top m-b-0"
			th:replace="fragments/navbar.html :: navbar"></nav>
		<!-- ===== Top-Navigation-End ===== -->
		<!-- ===== Left-Sidebar ===== -->
		<aside class="sidebar" role="navigation"
			th:replace="fragments/sidebar.html :: sidebar"></aside>
		<!-- ===== Left-Sidebar-End ===== -->
		<!-- Page Content -->
		<div class="page-wrapper">
			<div class="container-fluid">
				<!-- .row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="white-box">
							<h3 class="box-title m-b-0">Table Bagian</h3>
							<p class="text-muted m-b-20">
								Informasi bagian berdasarkan departemen yang ada.
							</p>
							<p th:text="${message}"></p>

							<div class="btn-group" style="margin-bottom: 20px">
								<a href="/bagian/add" class="btn btn-success">Create</a>
								<button class="btn btn-success" id="btn-refresh">Refresh</button>
								<div class="btn-group">
									<button aria-expanded="false" data-toggle="dropdown"
										class="btn btn-success dropdown-toggle waves-effect waves-light"
										type="button">
										Print <span class="caret"></span>
									</button>
									<ul role="menu" class="dropdown-menu animated flipInX">
										<li id="printXls"><a href="#">Excel</a></li>
										<li id="printPdf"><a href="#">PDF</a></li>
									</ul>
								</div>
							</div>
							
							<div class="modal fade myModal2" role="dialog">
								<div class="modal-dialog">

									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h2 class="modal-title title-info">Information</h2>
										</div>
										<div class="modal-body">
											<table id="table-info">
												<tbody></tbody>
											</table>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>

							<div class='row peritable-row-top'>
								<div class="col-sm-6">
									<span>Show </span> <select class="showTableRow"
										id="pageSizeSelect">
									</select> <span> entries.</span>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="search" class="form-control"> <span
											class="input-group-btn">
											<button id="btn-search" class="btn btn-default" type="button">
												<span class="glyphicon glyphicon-search"></span>
											</button>
										</span>
									</div>
								</div>

							</div>

							<div class="table-responsive">
								<table class="table" id="table-data-server">
									<thead>
										<tr>
											<th>No</th>
											<th>Nama</th>
											<th>Deskripsi</th>
											<th>Tanggal di buat</th>
											<th class="text-nowrap">Action</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>

							<div class="row containerpagination">
								<div class='col-sm-6'>
									<p id="messagetable">Page 1 - 10 of 100 entires</p>
								</div>
								<div class="col-sm-6 text-center">
									<ul class="pagination peritable ">
									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
				<!-- ===== Right-Sidebar ===== -->
				<div class="right-sidebar"
					th:replace="fragments/right-sidebar.html :: right-sidebar"></div>
				<!-- ===== Right-Sidebar-End ===== -->
			</div>
			<!-- /.container-fluid -->
			<footer class="footer t-a-c"
				th:replace="fragments/footer.html :: footer"> </footer>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->

	<!--/*/ <th:block th:include="fragments/script.html :: script">
        </th:block> /*/-->
        
    <script th:src="@{/pagination/js/bagian.js}"></script>
</body>

</html>
