<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body class="mini-sidebar">
	<!-- Preloader -->
	<div class="preloader">
		<div class="cssload-speeding-wheel"></div>
	</div>
	<div id="wrapper">
		<!-- ===== Left-Sidebar ===== -->
		<aside class="sidebar" th:fragment="sidebar">
			<div class="scroll-sidebar">
				<div class="user-profile">
					<div class="dropdown user-pro-body">
						<div class="profile-image">
							<img th:src="@{/images/icon.jpg}" alt="user-img"
								class="img-circle"> <a href="javascript:void(0);"
								class="dropdown-toggle u-dropdown text-blue"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false"> <span class="badge badge-danger">
									<i class="fa fa-angle-down"></i>
							</span>
							</a>
							<ul class="dropdown-menu animated flipInY">
								<li><a href="javascript:void(0);"><i class="fa fa-user"></i>
										Profile</a></li>
								<li><a href="javascript:void(0);"><i
										class="fa fa-inbox"></i> Inbox</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="javascript:void(0);"><i class="fa fa-cog"></i>
										Account Settings</a></li>
								<li role="separator" class="divider"></li>
								<li><a href=""><i class="fa fa-power-off"></i> Logout</a></li>
							</ul>
						</div>
						<p class="profile-text m-t-15 font-16">
							<a href="javascript:void(0);">Admin</a>
						</p>
					</div>
				</div>
				<nav class="sidebar-nav">
					<ul id="side-menu">
						<li><a class="active waves-effect" href="javascript:void(0);"
							aria-expanded="false"><i class="icon-screen-desktop fa-fw"></i>
								<span class="hide-menu"> Dashboard </span></a>
							<ul aria-expanded="false" class="collapse">
								<li><a href="index.html">Daftar Pengajuan Cuti</a></li>
							</ul></li>
						<li><a class="waves-effect" href="javascript:void(0);"
							aria-expanded="false"><i class="icon-equalizer fa-fw"></i> <span
								class="hide-menu"> Master Data</span></a>
							<ul aria-expanded="false" class="collapse">
								<li><a th:href="@{/jabatan}">Jabatan</a></li>
								<li><a th:href="@{/bagian}">Bagian</a></li>
								<li><a th:href="@{/departement}">Departement</a></li>
								<li><a th:href="@{/cuti}">Cuti</a></li>
							</ul></li>
						<li><a class="waves-effect" href="javascript:void(0);"
							aria-expanded="false"><i class="icon-notebook fa-fw"></i> <span
								class="hide-menu">Management Karyawan</span></a>
							<ul aria-expanded="false" class="collapse">
								<li><a href="form-basic.html">Pegawai</a></li>
								<li><a href="form-layout.html">Person</a></li>
							</ul></li>
						<li><a class="waves-effect" href="javascript:void(0);"
							aria-expanded="false"><i class="icon-grid fa-fw"></i> <span
								class="hide-menu"> Management Cuti</span></a>
							<ul aria-expanded="false" class="collapse">
								<li><a href="basic-table.html">Daptar Cuti</a></li>
							</ul></li>
						
					</ul>
				</nav>
			</div>
		</aside>
		<!-- ===== Left-Sidebar-End ===== -->
	</div>
</body>

</html>
